<div id="custom-search-input">
    <div class="input-group">
        <input (keyup)="searchUser($event.target.value)" type="text" class="search-query form-control" placeholder="{{'Search' | translate}}" />
        <span class="input-group-btn">
            <button class="btn btn-danger" type="button">
                <span class=" glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</div>
<div id="custom-search-body" class="search-body" [hidden]="isHideUserSearchBody">
    <div class="list-group" *ngIf="users?.length > 0">
        <li *ngFor="let user of users; let i = index" class="list-group-item search-item">
            {{user?.secondName}} {{user?.firstName}}
            <span *ngIf="rRequestStatusNew.indexOf(user.id) < 0 && rRequestStatusAccepted.indexOf(user.id) < 0 || rRequestStatusDeclined.indexOf(user.id) > -1" (click)="addUserToMyList(configService.user.id, user.id)" class="icon-add glyphicon glyphicon-plus-sign"></span>
            <span *ngIf="rRequestStatusAccepted.indexOf(user.id) > -1" class="icon-remove glyphicon glyphicon-minus-sign"></span>
            <span *ngIf="rRequestStatusNew.indexOf(user.id) > -1" class="icon-was-send-request glyphicon glyphicon-ok-sign"></span>
            <div>{{'Email' | translate}}: {{user?.email}}</div>
        </li>
    </div>
</div>
