#custom-search-input {
  margin:0;
  padding: 0;
  margin-left: 5px;
  position: relative;
  top: 13px;
  width: 294px;
  float: left;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  margin-bottom: 0;
  border-radius: 0px;
}

#custom-search-input button {
  border: 0;
  background: none;
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  color:#D9230F;
}

.search-query:focus + button {
  z-index: 3;
}

.search-body {
  //overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: rgba(245, 245, 245, 0.4);
  width: 270px;
  height: 80%;
  margin-left: 5px;
  color: #e1ffff;
  position: relative;
  top: 27px;
  float: left;
  clear: left;
  border: solid 4px #2e353d;
  border-bottom: solid 40px #2e353d;
}

.search-item {
  background-color: rgba(42, 171, 210, 0.4);
  color: #000;
}

.icon-add {
  float: right;
  color: #20D32D;
  margin-left: 5px;
}

.icon-remove {
  float: right;
  color: #DD1126;
}

.icon-was-send-request {
  float: right;
  color: #C431C3;
}

.icon-add:hover {
  cursor: pointer;
  color: #19A223;
}

.icon-remove:hover {
  cursor: pointer;
  color: #BA071A;
}

.icon-was-send-request:hover {
  cursor: pointer;
  color: #AC21AB;
}