.tool-bar-close,
.tool-bar-collapse {
  color: white;
  float: right;
  text-decoration: none;
  margin-right: 10px;
  font-size: 14px;
  top: 8px;
  position: relative;
  cursor: pointer;
}

.tool-bar-close,
.tool-bar-collapse,
.tool-bar-main-icon,
.tool-bar-profile,
.tool-bar-new-requests,
.tool-bar-config {
  -webkit-app-region: no-drag;
}

.tool-bar-config {
  float: left;
  position: relative;
  top: 15px;
  color: #674D39;
  left: 5px;
}

.tool-bar-config:hover {
  color: #fff;
  cursor: pointer;
}

.tool-bar-profile {
  float: right;
  margin-right: 20px;
  margin-top: 13px;
  color: white;
  text-decoration: none;
}

.tool-bar-profile:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  min-height: 38px;
}

.navbar-inverse {
  -webkit-app-region: drag
}

.user-requests {
  position: relative;
  float: right;
  margin-right: 30px;
  top: 12px;
  font-size: 17px;
}

.user-requests:hover {
  cursor: pointer;
  color: #fff;
}

.user-requests-count {
  position: relative;
  font-size: 14px;
  right: 10px;
  color: white;
}

.container-requests {
  position: relative;
  width: 178px;
  top: 37px;
  left: 177px;
  float: right;
  background-color: rgba(51, 51, 51, 1);
  background-color: #222;
  color: wheat;
}

.list-request {
  list-style-type: none;
  padding: 5px 5px 5px 5px;
  margin: 0;
}

.container-user-info {
  position: relative;
  width: 130px;
  top: 51px;
  left: 115px;
  float: right;
  background-color: rgba(51, 51, 51, 1);
  background-color: #222;
  color: wheat;
}

.list-user-info {
  list-style-type: none;
  padding: 5px 5px 5px 5px;
  margin: 0;
}

.add-btn {
  background: #4f5b69;
  color: white;
  text-align: center;
  width: initial;
  font-size: 12px;
  padding: 1px 5px 1px 5px;
}

.decline-btn {
  background: #4f5b69;
  color: white;
  text-align: center;
  width: initial;
  font-size: 12px;
  padding: 1px 5px 1px 5px;
}

.add-decline-btn-container {
  display: inline-block;
}

#configMenu {
  position: absolute;
  color: black;
  transition: all 100ms linear;
  transition-delay: .1s;
  border: 1px solid rgba(0, 0, 0, .15);
  top: 40px;
  left: 2px;
  z-index: 1000;
  float: left;
  padding: 0px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.config-submenu-ul {
  position: absolute;
  color: black;
  transition: all 100ms linear;
  transition-delay: .1s;
  border: 1px solid rgba(0, 0, 0, .15);
  z-index: 1000;
  float: left;
  padding: 0px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

#configMenu li {
  padding-right: 10px;
  padding-left: 8px;
  margin-bottom: 2px;
  margin-top: 2px;
}

#configMenu a {
  text-decoration: none;
}

#configMenu li:hover {
  background-color: lavender;
  cursor: pointer;
}

.config-submenu-ul li {
  padding-right: 10px;
}

.config-submenu-ul a {
  text-decoration: none;
}

.config-submenu-ul li {
  padding-right: 10px;
  padding-left: 8px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.config-submenu-ul li:hover {
  background-color: lavender;
  cursor: pointer;
}

.sub-menu-language {
  position: absolute;
  left: 113px;
  border-radius: 0px;
  top: 48px;
}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 0px 0px 0px;
  -moz-border-radius: 0 0px 0px;
  border-radius: 0 0px 0px 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 0px 0 0px 0px;
  -moz-border-radius: 0px 0 0px 0px;
  border-radius: 0px 0 0px 0px;
}

.current-selected-language {
  background-color: #2aabd2;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

.tool-bar-img-icon {
  width: 8%;
}

.navbar-brand {
  float: none;
  height: 0px;
  padding: 0px;
  font-size: 0px;
  line-height: 0px;
}

.tool-bar-project-title {
  font-size: 10px;
  position: relative;
  top: 8px;
  left: 5px;
}

#aboutApplicationInfo .modal-body {
  font-size: 12px !important;
}

#aboutApplicationInfo .modal-header .close {
  margin-top: -22px !important;
}