<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <a class="navbar-brand tool-bar-main-icon">
            <div class="tool-bar-project-title">RoundTable</div>
        </a>

        <a class="tool-bar-config" (click)="onShowHideOptionsMenu()">
            <span class="glyphicon glyphicon-cog options"></span>
            <!--<span class="tool-bar-options-text options">{{'Options' | translate}}</span>-->
            <span class="tool-bar-options-text options">{{'Options' | translate}}</span>
        </a>

        <a class="tool-bar-close" title="{{'Tips.Close' | translate}}" (click)="onClose()">X</a>
        <a class="tool-bar-collapse" (click)="onCollapse()" title="{{'Tips.Collapse' | translate}}">-</a>
        <a *ngIf="!!toolbarService?.currentUser" class="tool-bar-profile" title="{{'Tips.Profile' | translate}}">{{ onCutStringByLength(toolbarService?.username, usernameLength) }}</a>
        <span *ngIf="!!toolbarService?.currentUser" (click)="onIsShowRRequests()" class="glyphicon glyphicon-globe user-requests tool-bar-new-requests" title="{{'Tips.Information_events' | translate}}">
            <span class="user-requests-count" *ngIf="toolbarService?.relationshipRequests?.length > 0">{{toolbarService?.relationshipRequests?.length}}</span>
        </span>
        <div class="container-requests">
            <ul class="list-request" role="menu" [hidden]="isShowRRequests">
                    <span *ngIf="toolbarService?.relationshipRequests?.length > 0">
                        <li *ngFor="let rRequest of toolbarService?.relationshipRequests; let i = index">
                            {{rRequest.fromFirstName}} {{rRequest.fromSecondName}}
                            <div class="add-decline-btn-container">
                                <button type="button" class="btn add-btn" (click)="onAcceptRelationshipRequest(configService?.user?.id, rRequest.fromId, rRequest.id)">{{'Add' | translate}}</button>
                                <button type="button" class="btn decline-btn" (click)="onDeclineRelationshipRequest(rRequest.fromId, configService?.user?.id, rRequest.id)">{{'Decline' | translate}}</button>
                            </div>
                        </li>
                    </span>
                    <span *ngIf="toolbarService?.relationshipRequests?.length <= 0">
                        <li>{{'No_new_requests' | translate}}.</li>
                    </span>
            </ul>
        </div>
    </nav>
</div>

<ul *ngIf="isShowOptionsMenu" class="" id="configMenu">
    <li data-toggle="modal" data-target="#aboutApplicationInfo">{{'About' | translate}} RoundTable</li>
    <li class="dropdown-submenu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{'Languages' | translate}}</a>
        <ul class="dropdown-menu config-submenu-ul">
            <li *ngFor="let lang of supportedLanguages" (click)="selectLang(lang.value)" [ngClass]="{'current-selected-language': isCurrentLang(lang.value)}">{{ lang.display }}</li>
        </ul>
    </li>
    <li *ngIf="!!toolbarService?.currentUser" class="config-sub-menu" (click)="onExitUser()">{{'Exit' | translate}}</li>
</ul>

<!-- Modal -->
<div class="modal fade" id="aboutApplicationInfo" tabindex="-1" role="dialog" aria-labelledby="aboutApplicationInfoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{'About' | translate}} RoundTable</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{'AboutAppText.paragraph1' | translate}}</p>
                <p>{{'AboutAppText.paragraph2' | translate}}</p>
                <p>{{'AboutAppText.paragraph3' | translate}}</p>
                <ul>
                    <li>{{'AboutAppText.subParagraph3_1' | translate}}</li>
                    <li>{{'AboutAppText.subParagraph3_2' | translate}}</li>
                    <li>{{'AboutAppText.subParagraph3_3' | translate}}</li>
                    <li>{{'AboutAppText.subParagraph3_4' | translate}}</li>
                    <li>{{'AboutAppText.subParagraph3_5' | translate}}</li>
                    <li>{{'AboutAppText.subParagraph3_6' | translate}}</li>
                    <li>{{'AboutAppText.subParagraph3_7' | translate}}</li>
                    <li>{{'AboutAppText.subParagraph3_8' | translate}}</li>
                    <li>{{'AboutAppText.subParagraph3_9' | translate}}</li>
                </ul>
                <p>{{'AboutAppText.paragraph4' | translate}}</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>