<div class="chat-container container-fluid" *ngIf="chatService.chatWindowsState.length > 0? chatService.chatWindowsState[chatService.receiverId]:false">
    <div class="portlet-heading">
        {{this.chatService.receiverFirstName}}
        {{this.chatService.receiverSecondName}}
        <strong>
            <a class="chat-close" title="{{'Tips.Close' | translate}}" (click)="onCloseChat(this.chatService.receiverId)">X</a>
        </strong>
    </div>
    <!--After send new message scrolling chat's container to bottom, to see last new message-->
    <div #chatContainer class="portlet-body" [scrollTop]="chatContainer.scrollHeight">
        <div class="chat-date">
            <div class="">
                <!--<p class="text-center text-muted small">January 1, 2014 at 12:23 PM</p>-->
            </div>
        </div>
        <div class="chat-item-container" *ngFor="let chatMessage of chatService.chatRooms[chatService.receiverId]">
            <div class="container-message-item">
                <li class="message appeared" [ngClass]="{'right': chatMessage.from == configService.user.id, 'left': chatMessage.from != configService.user.id}">
                    <div class="text_wrapper">
                        <div class="text">
                            <pre class="chat-message-text">{{chatMessage.message}}</pre>
                        </div>
                        <small *ngIf="chatMessage.time && chatMessage.time.date" class="" [ngClass]="{
                        'time-left': chatMessage.from == configService.user.id,
                        'time-right': chatMessage.from != configService.user.id
                        }">{{chatMessage.time.date | date: dateFormatByLocale[configService.currentLang]}}</small>
                    </div>
                </li>
            </div>
        </div>
    </div>
    <div class="portlet-footer">
        <hr class="portlet-footer-line">
        <textarea class="chat-enter-message" placeholder="{{'Enter_message' | translate}}" [(ngModel)]="message" (keydown.enter)="onClickEnterSendMessage($event);false"></textarea>
        <span class="glyphicon glyphicon-send chat-icon-send-message" title="{{'Tips.Send' | translate}}" (click)="sendMessage()"></span>
    </div>
</div>