.portlet-heading {
  height: 5%;
  color: #fff;
  background-color: #34495e;
  padding: 0 15px;
}

.portlet-body {
  overflow-y: auto;
  width: auto;
  height: 80%;
  background-color: white;
}

/*.portlet .portlet-body {
  padding: 15px;
  background: #fff;
}*/

.portlet-footer {
  background: #fff;
  position: relative;
  height: 15%;
}

.portlet-footer-line {
  padding: 0px;
  margin: 0px 20px 0px 20px;
  border-top: 2px solid #e0e7e8;
}

.chat-enter-message {
  width: 87%;
  margin: 0px;
  height: 57%;
  position: relative;
  top: 5px;
  overflow: hidden;
  border: 0 none #FFF;
  left: 18px;
  resize: none;
  outline:none;
}

.chat-icon-send-message {
  font-size: 1.6vw;
  position: absolute;
  top: 32%;
  left: 92%;
}

.chat-icon-send-message:hover {
  color: #2FC6F5;
  cursor: pointer;
}

.chat-container {
  position: absolute;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 20px;
  border: 1px solid;
  left: 290px;
  top: 150px;
  height: 73%;
  width: 70%;
}

.chat-message-text {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: transparent;
  border: 0px none transparent;
  border-radius: 0px;
  white-space: pre-wrap;
}

.chat-close {
  float: right;
  color: white;
}

.chat-close:hover {
  cursor: pointer;
}



/* Chat containers */
.container-message-item {
  //padding: 10px;
  //margin: 10px 0;
}

/* Clear floats */
.container-message-item::after {
  content: "";
  clear: both;
  display: table;
}

.container-message-item li {
  list-style-type: none;
}

/* Style time text */
.time-right {
  float: left;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: right;
  color: #999;
}

.message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}

.message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.message.left .text_wrapper::after, .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.message.left .text {
  color: #c48843;
}

.message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}

.message.right .text_wrapper::after, .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.message.right .text {
  color: #45829b;
}
.message.appeared {
  opacity: 1;
}

.message .text_wrapper {
  display: inline-block;
  padding: 5px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.message .text_wrapper::after, .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}