.portlet {
  border: 1px solid;
}

.portlet-heading {
  height: 5%;
  color: #fff;
  background-color: #34495e;
  padding: 0 15px;
}

.task-info-portlet-heading {
  height: 5%;
  color: #fff;
  background-color: #34495e;
  padding: 0 15px;
}

.done-task-list-portlet-heading {
  height: 5%;
  color: #fff;
  background-color: #34495e;
  padding: 0 15px;
}

.portlet-body {
  overflow-y: auto;
  width: auto;
  height: 85%;
  background-color: white;
}

.portlet .portlet-body {
  padding: 15px;
  background: #fff;
}

.task-info-portlet-body {
  overflow-y: auto;
  width: auto;
  height: 85%;
  background-color: white;
}

.portlet .task-info-portlet-body {
  padding: 15px;
  background: #fff;
}

.done-task-list-portlet-body {
  overflow-y: auto;
  width: auto;
  height: 95%;
  background-color: white;
}

.portlet .done-task-list-portlet-body {
  padding: 15px;
  background: #fff;
}

.portlet-footer {
  background: #e0e7e8;
  position: relative;
  height: 10%;
}

.task-info-portlet-footer {
  background: #e0e7e8;
  position: relative;
  height: 10%;
}

.task-enter-message {
  width: 95%;
  margin: 0% 0% 0% 2.5%;
  height: 33%;
  position: relative;
  top: 8px;
  border-radius: 0px;
  resize: none;
}

.task-icon-send-message {
  font-size: 1.2vw;
  position: relative;
  top: -15%;
  left: 1%;
}

.task-icon-send-message:hover {
  color: green;
}

.task-container {
  position: absolute;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 20px;
  border: 1px solid;
  left: 290px;
  top: 150px;
  height: 73%;
  width: 70%;
}

.task-info-container {
  position: absolute;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 20px;
  border: 1px solid;
  left: 290px;
  top: 150px;
  height: 73%;
  width: 70%;
}

.done-task-list-container {
  position: absolute;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 20px;
  border: 1px solid;
  left: 290px;
  top: 150px;
  height: 73%;
  width: 70%;
}

.task-close {
  float: right;
  color: white;
}

.task-close:hover {
  cursor: pointer;
}

.task-info-close {
  float: right;
  color: white;
}

.task-info-close:hover {
  cursor: pointer;
}

.done-task-list-close {
  float: right;
  color: white;
}

.done-task-list-close:hover {
  cursor: pointer;
}

.task-priority-slct,
.task-status-slct,
.task-info-status-slct,
.task-title-inpt {
  border-radius: 0px;
}

.task-priority-slct {
  width: auto;
}

.task-status-slct {
  width: auto;
}

.task-info-status-slct {
  width: auto;
}

.task-title-inpt {
  margin: 0% 0% 0% 2.5%;
  width: 95%;
}

.task-priority-block {
  float: left;
  margin: 0% 0% 1% 2.5%;
}

.task-status-block {
  float: left;
  margin: 0% 0% 1% 2.5%;
}

.add-task-btn {
  width: auto;
  //height: 65%;
  font-size: 12px;
  color: white;
  border-radius: 0px;
  background-color: #656F7A;
  border: none;
  transition: all 100ms linear;
  transition-delay: .1s;
  margin: 1% 0% 0% 1%;
  padding: 1% 1% 1% 1%;
}

.add-task-btn:hover {
  background-color: #44484c;
}

.task-info-confirm-btn {
  width: auto;
  //height: 65%;
  font-size: 12px;
  color: white;
  border-radius: 0px;
  background-color: #656F7A;
  border: none;
  transition: all 100ms linear;
  transition-delay: .1s;
  margin: 1% 0% 0% 1%;
  padding: 1% 1% 1% 1%;
}

.task-info-confirm-btn:hover {
  background-color: #44484c;
}

.task-info-item-container {
  clear: left;
  margin-left: 10px;
  margin-top: 35px;
}

.task-info-item-container .row {
  margin: 0px;
  padding: 0px;
}

/*.done-task-item-container {
  clear: left;
  margin-left: 10px;
  margin-top: 35px;
}*/

/*.done-task-item-container .row {
  margin: 0px;
  padding: 0px;
}*/

.created-at-block,
.updated-at-block,
.author-block {
  float: left;
  margin-left: 10px;
}

.task-info-description-block,
.task-info-status-block {
  margin-top: 12px;
}

.done-task-created-at,
.done-task-updated-at {
  float: left;
}

.done-task-updated-at {
  margin-left: 10px;
}

.done-task-from {
  float: right;
}

.done-task-title {
  clear: left;
  float: left;
}

.done-task-status {
  float: left;
}

.list-group-item {
  display: flow-root;
  border: 0px solid #ddd;
}

.list-group-item-success .glyphicon-remove,
.list-group-item-success .glyphicon-option-horizontal {
  float: right;
}

.list-group-item-success .glyphicon-option-horizontal {
  margin-right: 10px;
  margin-top: 4px;
}

.list-group-item-success .glyphicon-remove {
  margin-top: 4px;
}

.list-group-item-info .glyphicon-remove,
.list-group-item-info .glyphicon-option-horizontal {
  float: right;
}

.list-group-item-info .glyphicon-option-horizontal {
  margin-right: 10px;
  margin-top: 4px;
}

.list-group-item-info .glyphicon-remove {
  margin-top: 4px;
}

.list-group-item-danger .glyphicon-remove,
.list-group-item-danger .glyphicon-option-horizontal {
  float: right;
}

.list-group-item-danger .glyphicon-option-horizontal {
  margin-right: 10px;
  margin-top: 4px;
}

.list-group-item-danger .glyphicon-remove {
  margin-top: 4px;
}

.list-group-item-warning .glyphicon-remove,
.list-group-item-warning .glyphicon-option-horizontal {
  float: right;
}

.list-group-item-warning .glyphicon-option-horizontal {
  margin-right: 10px;
  margin-top: 4px;
}

.list-group-item-warning .glyphicon-remove {
  margin-top: 4px;
}

.list-group-item-text .glyphicon-remove,
.list-group-item-text .glyphicon-option-horizontal {
  float: right;
}

.list-group-item-text .glyphicon-option-horizontal {
  margin-right: 10px;
  margin-top: 4px;
}

.list-group-item-text .glyphicon-remove {
  margin-top: 4px;
}

.done-task-description {
  background-color: rgba(101, 111, 122, 0.2);
}

.done-task-description-text {
  margin-left: 16px;
}

.appointed-by-me-task-list-container {
  position: absolute;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 20px;
  border: 1px solid;
  left: 290px;
  top: 150px;
  height: 73%;
  width: 70%;
}

.appointed-by-me-task-list-portlet-heading {
  height: 5%;
  color: #fff;
  background-color: #34495e;
  padding: 0 15px;
}

.appointed-by-me-task-list-close {
  float: right;
  color: white;
}

.appointed-by-me-task-list-close:hover {
  cursor: pointer;
}

.appointed-by-me-task-list-portlet-body {
  overflow-y: auto;
  width: auto;
  height: 95%;
  background-color: white;
}

.portlet .appointed-by-me-task-list-portlet-body {
  padding: 15px;
  background: #fff;
}

.appointed-by-me-task-created-at,
.appointed-by-me-task-updated-at {
  float: left;
}

.appointed-by-me-task-updated-at {
  margin-left: 10px;
}

.appointed-by-me-task-status {
  float: left;
}

.appointed-by-me-task-status {
  margin-left: 10px;
}

.appointed-by-me-task-to {
  float: right;
}

.appointed-by-me-task-title {
  clear: left;
  float: left;
}

.appointed-by-me-task-status {
  float: left;
}

.appointed-by-me-task-description {
  background-color: rgba(101, 111, 122, 0.2);
}

.appointed-by-me-task-description-text {
  margin-left: 16px;
  word-wrap: break-word;
}

.appointed-by-me-task-list-portlet-body .glyphicon-option-horizontal:hover {
  cursor: pointer;
}

.appointed-by-me-task-list-portlet-body .glyphicon-remove:hover {
  cursor: pointer;
}

.done-task-list-portlet-body .glyphicon-option-horizontal:hover {
  cursor: pointer;
}

.done-task-list-portlet-body .glyphicon-remove:hover {
  cursor: pointer;
}