<div class="task-container container-fluid" *ngIf="taskService.taskWindowsState.length > 0? taskService.taskWindowsState[taskModel.to]:false">
    <div class="portlet-heading">
        <strong>
            <a class="task-close" title="{{'Tips.Close' | translate}}" (click)="onCloseTask()">X</a>
        </strong>
    </div>
    <div class="portlet-body">
        <div class="task-item-container">
            <form>
                <div class="task-priority-block">
                    <label for="taskPriority">{{'Priority' | translate}}</label>
                    <select id="taskPriority" class="form-control task-priority-slct" [(ngModel)]="taskModel.priority" name="priority">
                        <option *ngFor="let priority of listOfPriorities; let i = index;" value="{{priority}}">{{priority | translate}}</option>
                    </select>
                </div>
                <div class="task-status-block">
                    <label for="taskStatus">{{'Status' | translate}}</label>
                    <select id="taskStatus" class="form-control task-status-slct" name="status" [(ngModel)]="taskModel.status">
                        <option *ngFor="let status of listOfStatuses" value="{{status}}">{{status | translate}}</option>
                    </select>
                </div>
                <input class="form-control task-title-inpt" type="text" name="taskTitle" placeholder="{{'Title_task' | translate}}" [(ngModel)]="taskModel.title">
                <textarea class="task-enter-message form-control" placeholder="{{'Enter_description' | translate}}" name="taskDescription" [(ngModel)]="taskModel.description"></textarea>
            </form>
        </div>
    </div>
    <div class="portlet-footer">
        <input type="button" class="add-task-btn" value="{{'Add_task' | translate}}" name="taskSend" (click)="onAddTask()">
    </div>
</div>

<div class="task-info-container container-fluid" *ngIf="taskService.currentTaskId">
    <div class="task-info-portlet-heading">
        <strong>
            <a class="task-info-close" title="{{'Tips.Close' | translate}}" (click)="onCloseTaskInfoShow()">X</a>
        </strong>
    </div>
    <div class="task-info-portlet-body">
        <div class="task-date">
            <div class="">
                <div class="text-center text-muted small created-at-block" *ngIf="taskService.tasksList[taskService.currentTaskId].createdAt">{{'Created_at' | translate}}: {{taskService.tasksList[taskService.currentTaskId].createdAt.date | date: dateFormatByLocale[configService.currentLang]}}</div>
                <div class="text-center text-muted small updated-at-block" *ngIf="taskService.tasksList[taskService.currentTaskId].updatedAt">{{'Last_update' | translate}}: {{taskService.tasksList[taskService.currentTaskId].updatedAt.date | date: dateFormatByLocale[configService.currentLang]}}</div>
                <div class="text-center text-muted small author-block" *ngIf="taskService.tasksList[taskService.currentTaskId].from">{{'Author' | translate}}: {{taskService.tasksList[taskService.currentTaskId].from.username}}</div>
            </div>
        </div>
        <div class="task-info-item-container">
            <div class="task-info-title-block">
                {{'Title' | translate}}: <span class="task-info-title-text">{{taskService.tasksList[taskService.currentTaskId].title}}</span>
            </div>
            <div class="task-info-description-block">
                {{'Description' | translate}}: <span class="task-info-description-text">{{taskService.tasksList[taskService.currentTaskId].description}}</span>
            </div>
            <div class="task-info-status-block">
                {{'Status' | translate}}:
                <select id="taskInfoStatus" class="form-control task-info-status-slct" name="taskInfoStatus" [(ngModel)]="taskModel.status">
                    <option *ngFor="let status of listOfStatuses" value="{{status}}">{{status | translate}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="task-info-portlet-footer">
        <input type="button" class="task-info-confirm-btn" value="{{'Confirm' | translate}}" name="taskInfoConfirmChangedBtn" (click)="onChangeTaskStatus()">
    </div>
</div>

<!--Done tasks list-->
<div class="done-task-list-container container-fluid" *ngIf="taskService.isShowDoneTasksWindow">
    <div class="done-task-list-portlet-heading">
        <strong>
            <a class="done-task-list-close" title="{{'Tips.Close' | translate}}" (click)="onCloseDoneTasksWindow()">X</a>
        </strong>
    </div>
    <div class="done-task-list-portlet-body">
        <ul class="list-group">
            <div *ngFor="let doneTask of taskService.doneTasks; let i = index">
                <li class="list-group-item list-group-item-success">
                    <div class="done-task-created-at small"><span *ngIf="doneTask.createdAt">{{'Created_at' | translate}}: {{doneTask.createdAt.date | date: dateFormatByLocale[configService.currentLang]}}</span></div>
                    <div class="done-task-updated-at small"><span *ngIf="doneTask.updatedAt">{{'Last_updated' | translate}}: {{doneTask.updatedAt.date | date: dateFormatByLocale[configService.currentLang]}}</span></div>
                    <div class="done-task-from small">{{'From' | translate}}: {{doneTask.from.username}}</div>
                    <div class="done-task-title">{{'Title' | translate}}: {{doneTask.title}}</div>
                    <span class="glyphicon glyphicon-remove" title="{{'Tips.Remove_task' | translate}}" (click)="onRemoveDoneTask(doneTask.id, i)"></span>
                    <span class="glyphicon glyphicon-option-horizontal" title="{{'Tips.Task_description' | translate}}" data-toggle="collapse" [attr.data-target]="'#doneTask_' + doneTask.id"></span>
                </li>
                <div [attr.id]="'doneTask_' + doneTask.id" class="collapse done-task-description">
                    <div class="done-task-description-text">{{doneTask.description}}</div>
                </div>
            </div>
        </ul>
    </div>
</div>

<!--Appointed by me tasks list-->
<div class="appointed-by-me-task-list-container container-fluid" *ngIf="taskService.isShowAppointedByMeTasksWindow">
    <div class="appointed-by-me-task-list-portlet-heading">
        <strong>
            <a class="appointed-by-me-task-list-close" title="{{'Tips.Close' | translate}}" (click)="onCloseAppointedByMeTasksWindow()">X</a>
        </strong>
    </div>
    <div class="appointed-by-me-task-list-portlet-body ">
        <ul class="list-group">
            <div *ngFor="let appointedByMeTask of taskService.appointedByMeTasks; let i = index">
                <li class="list-group-item {{onGetClassColorByTaskStatus(appointedByMeTask.status)}}">
                    <div class="appointed-by-me-task-created-at small"><span *ngIf="appointedByMeTask.createdAt">{{'Created_at' | translate}}: {{appointedByMeTask.createdAt.date | date: dateFormatByLocale[configService.currentLang]}}</span></div>
                    <div class="appointed-by-me-task-updated-at small"><span *ngIf="appointedByMeTask.updatedAt">{{'Last_updated' | translate}}: {{appointedByMeTask.updatedAt.date | date: dateFormatByLocale[configService.currentLang]}}</span></div>
                    <div class="appointed-by-me-task-status small">{{'Status' | translate}}: {{appointedByMeTask.status | translate}}</div>
                    <div class="appointed-by-me-task-to small">{{'To' | translate}}: {{appointedByMeTask.to.username}}</div>
                    <div class="appointed-by-me-task-title">{{'Title' | translate}}: {{appointedByMeTask.title}}</div>
                    <span class="glyphicon glyphicon-remove" title="{{'Tips.Remove_task' | translate}}" (click)="onDeleteTask(appointedByMeTask.id, i)"></span>
                    <span class="glyphicon glyphicon-option-horizontal" title="{{'Tips.Task_description' | translate}}" data-toggle="collapse" [attr.data-target]="'#appointedByMeTask_' + appointedByMeTask.id"></span>
                </li>
                <div [attr.id]="'appointedByMeTask_' + appointedByMeTask.id" class="collapse appointed-by-me-task-description">
                    <div class="appointed-by-me-task-description-text">{{appointedByMeTask.description}}</div>
                </div>
            </div>
        </ul>
    </div>
</div>