<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{'Registration_form' | translate}}</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <input type="text" name="firstName" id="first_name" class="form-control input-sm" placeholder="{{'First_name' | translate}}" [(ngModel)]="registerModel.firstName">
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <input type="text" name="secondName" id="second_name" class="form-control input-sm" placeholder="{{'Second_name' | translate}}" [(ngModel)]="registerModel.secondName">
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <input type="text" name="lastName" id="last_name" class="form-control input-sm" placeholder="{{'Last_name' | translate}}" [(ngModel)]="registerModel.lastName">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control input-sm" placeholder="{{'Email_address' | translate}}" [(ngModel)]="registerModel.email">
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4"></div>
                            <div class="col-xs-4 col-sm-4 col-md-4"></div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <div class="form-group">
                                    <input type="text" name="nickName" id="nickName" class="form-control input-sm" placeholder="{{'Nick_name' | translate}}" [(ngModel)]="registerModel.nickName">
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4"></div>
                            <div class="col-xs-4 col-sm-4 col-md-4"></div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="{{'Password' | translate}}" [(ngModel)]="registerModel.password">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6"></div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="passwordConfirmation" id="password_confirmation" class="form-control input-sm" placeholder="{{'Confirm_password' | translate}}" [(ngModel)]="registerModel.passwordConfirmation">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6"></div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="file" name="avatarImage" id="avatarImage" class="form-control input-sm" (change)="onSetAvatarImage($event)">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6"></div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <input type="submit" value="{{'Register' | translate}}" class="btn btn-info btn-block" (click)="onRegister()">
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <input type="button" value="{{'Cancel' | translate}}" class="btn btn-info btn-block" [routerLink]="[toolbarService?.currentUser?'/main-page':'/start-page']">
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>