<div class="container">
    <div class="login-container">
        <div id="output"></div>
        <div class="avatar"></div>
        <div class="form-box">
            <form role="form">
                <input type="text" placeholder="{{'Email' | translate}}" [(ngModel)]="loginModel.email" name="email">
                <input type="password" placeholder="{{'Password' | translate}}" [(ngModel)]="loginModel.password" name="password">
                <button class="btn btn-info btn-block login" (click)="onLogin()">{{'Login' | translate}}</button>
            </form>
        </div>
        <button class="btn btn-info btn-block login" routerLink="/register">{{'Register' | translate}}</button>
        <div class="err-login" [hidden]="isLogin">{{'Incorrect_entered_values_Pleas_check_it' | translate}}</div>
    </div>
</div>