.nav-side-menu {
  //overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  width: 270px;
  //height: 80%;
  margin-left: 5px;
  color: #e1ffff;
  position: relative;
  top: 27px;
  float: left;
  clear: left;
}
.nav-side-menu .menu-icon-list {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .menu-icon-list {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  #main {
    width:calc(100% - 300px);
    float: right;
  }
}

body {
  margin: 0px;
  padding: 0px;
}
.menu-list {
  overflow-y: initial !important
}

.sub-menu {
  height: auto;
  overflow-y: hidden;
}

.contact-list {
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  width: 270px;
  height: 73%;
  margin-left: 5px;
  color: #e1ffff;
  position: relative;
  top: 28px;
  float: left;
  left: 0px;
  clear: left;
  padding: 5px 5px 5px 5px;
  list-style-type: none;
}

.task-list {
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  width: 270px;
  height: 73%;
  margin-left: 5px;
  color: #e1ffff;
  position: relative;
  top: 28px;
  float: left;
  left: 0px;
  clear: left;
  padding: 0px 0px 5px 0px;
  list-style-type: none;
}

.contact-list-li {
  margin-bottom: 2px;
  background-color: #1A232D;
  padding: 5px;
  transition: all 100ms linear;
  transition-delay: .1s;
}

.contact-list-li:hover {
  background-color: #656F7A;
}

.ico-menu-contact-list {
  font-size: 12px;
  position: relative;
  /*top: 5px;
  float: left;
  left: 9px;*/
}

.ico-menu-contact-list:hover {
  cursor: pointer;
  text-decoration: underline;
}

.ico-menu-task-list {
  font-size: 12px;
  position: relative;
  /*top: 5px;
  float: left;
  left: 70px;*/
}

.ico-menu-task-list:hover {
  cursor: pointer;
  text-decoration: underline;
}

.ico-menu-additional-list {
  font-size: 12px;
  position: relative;
  /*top: 5px;
  float: left;
  left: 145px;*/
}

.ico-menu-additional-list:hover {
  cursor: pointer;
  text-decoration: underline;
}

.menu-content {
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  width: 270px;
  height: 73%;
  margin-left: 5px;
  color: #e1ffff;
  position: relative;
  top: 28px;
  float: left;
  left: 0px;
  clear: left;
  list-style-type: none;
  padding: 0px;
}

#submenuProjects,
#submenuServices {
  border-bottom: 1px solid white;
}

.menu-content-services.collapsed {
  padding: 8px 0px 8px 0px;
  background-color: #1A232D;
  transition: all 100ms linear;
  transition-delay: .1s;
  margin: 0px 0px 0px 0px;
  box-shadow: none;
}

.menu-content-services {
  background-color: #656F7A;
  margin: 0px 0px 7px 0px;
  box-shadow: 0px 4px 3px #464d5d;
  padding: 8px 0px 8px 0px;
  transition: all 100ms linear;
  transition-delay: .1s;
}

.menu-content-sub-service {
  padding: 8px 0px 8px 0px;
  background-color: #1A232D;
  transition: all 100ms linear;
  transition-delay: .1s;
}

.menu-content-done-task {
  padding: 8px 0px 8px 0px;
  background-color: #1A232D;
  transition: all 100ms linear;
  transition-delay: .1s;
}

.menu-content-appointed-by-me-task {
  padding: 8px 0px 8px 0px;
  background-color: #1A232D;
  transition: all 100ms linear;
  transition-delay: .1s;
}

.menu-content-sub-project {
  padding: 8px 0px 8px 0px;
  background-color: #1A232D;
  transition: all 100ms linear;
  transition-delay: .1s;
}

.menu-content-sub-task {
  padding: 8px 0px 8px 0px;
  background-color: #1A232D;
  transition: all 100ms linear;
  transition-delay: .1s;
}

.menu-content-projects {
  padding: 8px 0px 8px 0px;
  background-color: #1A232D;
  transition: all 100ms linear;
  transition-delay: .1s;
}

.menu-content-tasks.collapsed {
  padding: 8px 0px 8px 0px;
  background-color: #1A232D;
  transition: all 100ms linear;
  transition-delay: .1s;
  margin: 0px 0px 0px 0px;
  box-shadow: none;
}

.menu-content-tasks {
  background-color: #656F7A;
  margin: 0px 0px 7px 0px;
  box-shadow: 0px 4px 3px #464d5d;
  padding: 8px 0px 8px 0px;
  transition: all 100ms linear;
  transition-delay: .1s;
}

.task-block-item {
  margin-bottom: 3px;
}

.menu-content-sub-service:hover {
  background-color: #656F7A;
}

.menu-content-done-task:hover {
  background-color: #656F7A;
  cursor: pointer;
}

.menu-content-appointed-by-me-task:hover {
  background-color: #656F7A;
  cursor: pointer;
}

.menu-content-sub-project:hover {
  background-color: #656F7A;
}

.menu-content-sub-task:hover {
  background-color: #656F7A;
  cursor: pointer;
}

.menu-content-services:hover {
  background-color: #656F7A;
  cursor: pointer;
}

.menu-content-projects:hover {
  background-color: #656F7A;
}

.menu-content-tasks:hover {
  background-color: #656F7A;
  cursor: pointer;
}

.contact-list-item .glyphicon-remove {
  float: left;
  transition: all 100ms linear;
  transition-delay: .1s;
}

.contact-list-item .glyphicon-remove:hover {
  cursor: pointer;
  color: #CE142E;
}

.contact-list-item .contact-list-username {
  float: left;
  position: relative;
  top: -2px;
  left: 10px;
}

.contact-list-item .glyphicon-comment {
  float: right;
  position: relative;
  //left: 140px;
  right: 50px;
  font-size: 17px;
  transition: all 100ms linear;
  transition-delay: .1s;
}

.contact-list-item .glyphicon-comment:hover {
  cursor: pointer;
  color: #2FC6F5;
}

.contact-list-item .glyphicon-tasks {
  position: relative;
  //left: 155px;
  float: right;
  font-size: 17px;
  transition: all 100ms linear;
  transition-delay: .1s;
}

.contact-list-item .glyphicon-tasks:hover {
  cursor: pointer;
  color: #18CE40;
}

.contact-list-full-name {
  clear: left;
  font-size: 11px;
}

.chat-message-count {
  position: absolute;
  top: 17px;
  color: #2FC6F5;
  left: 1px;
  font-size: 10px;
}

.chat-tasks-count {
  position: absolute;
  top: 17px;
  color: #18CE40;
  left: 1px;
  font-size: 10px;
}

.task-status-indicator {
  width: 13px;
  height: 13px;
  position: relative;
  float: right;
  margin-right: 10px;
  top: 2px;
  border-radius: 10px;
}

.task-status-indicator-new {
  background-color: #31708f;
}
.task-status-indicator-in-progress {
  background-color: #8a6d3b;
}
.task-status-indicator-pause {
  background-color: #ffffff;
}

.task-text-color-status-new {
  color: #31708f;
}
.task-text-color-status-in-progress {
  color: #8a6d3b;
}
.task-text-color-status-pause {
  color: #ffffff;
}

.task-status-title {
  float: right;
  position: relative;
  right: 10px;
}