<div class="menu-container" [hidden]="isHideLeftSidebarMenuComponent">
    <div class="nav-side-menu">
        <div class="menu-icon-list">
            <div class="header-menu-nav-tabs">
                <div class="ico-menu-contact-list col-md-4" data-toggle="tab" href="#sectionContactList">
                    <div (click)="onGetContactList()">{{'Contacts' | translate}}</div>
                </div>
                <div class="ico-menu-task-list col-md-4" data-toggle="tab" href="#sectionTasks">
                    <div (click)="onGetTasks()">{{'Tasks' | translate}}</div>
                </div>
                <div class="ico-menu-additional-list col-md-4" data-toggle="tab" href="#sectionAdditionalMenus">
                    <div>{{'Menu' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-list tab-content">
        <div id="sectionContactList" class="menu-contact-list tab-pane fade in active">
            <ul id="contacts" class="contact-list">
                <li class="contact-list-li" *ngFor="let contact of leftSideBarMenuService.contacts; let i = index">
                    <div class="contact-list-item">
                        <span class="glyphicon glyphicon-remove" title="{{'Tips.Delete_user' | translate}}" (click)="onRemoveUserFromContactList(contact.addInfo.relationshipId, contact.addInfo.relationshipRequestId, configService.user.id, contact.id)"></span>
                        <div class="contact-list-username">{{ onCutStringByLength(contact.username, usernameLength) }}</div>
                        <span class="glyphicon glyphicon-comment" title="{{'Tips.Start_chat_or_view_correspondence' | translate}}" (click)="onStartChat(contact.id, contact.firstName, contact.secondName, contact.lastName, contact.username)">
                            <span class="chat-message-count">
                                {{chatService.chatMessagesCounter[contact.id]}}
                            </span>
                        </span>
                        <span class="glyphicon glyphicon-tasks" title="{{'Tips.Appoint_task' | translate}}" (click)="onOpenTaskWindow(configService.user.id, contact.id)">
                            <span class="chat-tasks-count">
                                {{taskService.tasksCounter[contact.id]}}
                            </span>
                        </span>
                    </div>
                    <div class="contact-list-full-name">
                        <div>{{onCutStringByLength(contact.firstName + ' ' + contact.secondName, fullNameLength)}}</div>
                    </div>
                </li>
            </ul>
        </div>
        <div id="sectionTasks" class="menu-task-list tab-pane fade">
            <ul id="tasks" class="task-list">
                <div class="task-block-item" *ngFor="let taskKey of leftSideBarMenuService.taskKeys">
                    <li class="menu-content-tasks collapsed" data-toggle="collapse" [attr.data-target]="'#submenuTasks_' + taskKey" aria-expanded="false">
                        <span>{{onCutStringByLength(leftSideBarMenuService.tasks[taskKey][0]?.from?.username, taskFromUsernameLength)}}</span>
                    </li>
                    <ul class="sub-menu nav collapse" [attr.id]="'submenuTasks_' + taskKey" role="menu" aria-labelledby="tasks-btn-1">
                        <span *ngFor="let task of leftSideBarMenuService.tasks[taskKey]">
                            <li class="menu-content-sub-task" *ngIf="task.status != 'done' && task.status != 'remove'" (click)="onSelectTask(task.from.id + '_' + task.id)">
                                {{onCutStringByLength(task.title, taskTitleLength)}} <span class="task-status-indicator {{onGetClassColorByTaskStatus(task.status)}}"></span><span class="task-status-title {{onGetClassTextColorByTaskStatus(task.status)}}">{{task.status | translate}}</span>
                            </li>
                        </span>
                    </ul>
                </div>
            </ul>
        </div>
        <div id="sectionAdditionalMenus" class="additional-menu-list tab-pane fade">
            <ul id="menu-content" class="menu-content">
                <!--<li class="menu-content-projects" data-toggle="collapse" data-target="#submenuProjects" aria-expanded="false"><span id="projects">Projects</span></li>
                <ul class="sub-menu nav collapse" id="submenuProjects" role="menu" aria-labelledby="projects-btn-1">
                    <li class="menu-content-sub-project">Project1</li>
                    <li class="menu-content-sub-project">Project2</li>
                    <li class="menu-content-sub-project">Project3</li>
                    <li class="menu-content-sub-project">Project4</li>
                    <li class="menu-content-sub-project">Project5</li>
                </ul>

                <li class="menu-content-services" data-toggle="collapse" data-target="#submenuServices" aria-expanded="false"><span id="services">Services</span></li>
                <ul class="sub-menu nav collapse" id="submenuServices" role="menu" aria-labelledby="services-btn-1">
                    <li class="menu-content-sub-service">New Service 1</li>
                    <li class="menu-content-sub-service">New Service 2</li>
                    <li class="menu-content-sub-service">New Service 3</li>
                </ul>-->

                <li class="menu-content-services collapsed" data-toggle="collapse" data-target="#submenuDoneTasks" aria-expanded="false"><span id="doneTasks">{{'Tasks' | translate}}</span></li>
                <ul class="sub-menu nav collapse" id="submenuDoneTasks" role="menu" aria-labelledby="done-task-btn-1">
                    <li class="menu-content-appointed-by-me-task" (click)="onGetTasksAppointedByMe()">{{'Appointed_by_me' | translate}}</li>
                    <li class="menu-content-done-task" (click)="onGetTasksWithStatusDone()">{{'Executed' | translate}}</li>
                </ul>
            </ul>
        </div>
    </div>
</div>