<div class="container-fluid profile-setting-container" *ngIf="profileSettingService.isShowProfileSettingsComponent">
    <div class="row">
        <div class="profile-avatar">
            <img [src]="profileSettingService.isChangedAvatarProfileSettings? profileSettingService.changedAvatarProfileSettingsPath : configService.user.link_avatar_image" class="avatar img-circle img-thumbnail" alt="{{'Tips.Profile_photo' | translate}}" (click)="avatarImage.click()">
            <input #avatarImage type="file" name="avatarImage" id="profileSettingAvatarImage" class="form-control input-sm" (change)="onChangeAvatarImage($event)">
        </div>
    </div>
    <form class="form-horizontal" role="form">
        <div class="row">
            <div class="form-group">
                <div>
                    <input class="form-control first-name-inpt" [(ngModel)]="profileSettingModel.firstName" type="text" name="firstName" placeholder="{{'First_name' | translate}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div>
                    <input class="form-control second-name-inpt" [(ngModel)]="profileSettingModel.secondName" type="text" name="secondName" placeholder="{{'Second_name' | translate}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div>
                    <input class="form-control last-name-inpt" [(ngModel)]="profileSettingModel.lastName" type="text" name="lastName" placeholder="{{'Last_name' | translate}}">
                </div>
            </div>
        </div>
        <div class="row">
            <a class="additional-settings" data-toggle="collapse" data-target="#loginSettings" aria-expanded="false">{{'Additional_settings' | translate}}</a>
        </div>
        <div class="collapse" id="loginSettings" role="menu">
            <div class="row">
                <div class="form-group">
                    <div>
                        <input class="form-control email-inpt" [(ngModel)]="profileSettingModel.email" type="text" name="email" placeholder="{{'Email' | translate}}">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input class="form-control username-inpt" [(ngModel)]="profileSettingModel.username" type="text" name="username" placeholder="{{'Username' | translate}}">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input class="form-control password-inpt" [(ngModel)]="profileSettingModel.password" type="password" name="password" placeholder="{{'New_password' | translate}}">
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <input class="form-control password-confirmation-inpt" [(ngModel)]="profileSettingModel.passwordConfirmation" type="password" name="passwordConfirmation" placeholder="{{'Confirm_password' | translate}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group profile-settings-actions">
                <input (click)="updateProfileSetting()" class="btn save-profile-btn" value="{{'Save' | translate}}" type="button">
                <input (click)="onCloseProfileSettings()" class="btn cancel-profile-btn" value="{{'Cancel' | translate}}" type="reset">
            </div>
        </div>
    </form>
</div>