.profile-setting-container {
  overflow: auto;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  border: 1px solid;
  left: 0px;
  top: -71px;
  height: auto;
  width: 270px;
  background-color: #2e353d;
  float: right;
  max-height: 86%;
}

.profile-setting-container .row {
  margin-left: 0px;
  margin-right: 0px;
}

.profile-setting-container .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

.first-name-inpt,
.second-name-inpt,
.last-name-inpt,
.email-inpt,
.username-inpt,
.password-inpt,
.password-confirmation-inpt{
  border: none;
  border-radius: 0px;
  background-color: #656F7A;
  color: white;
}

.profile-avatar {}

.profile-avatar img {
  display: inline-block;
  max-width: 8em;
  height: 8em;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: relative;
  left: 29%;
  border-radius: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.profile-avatar img:hover {
  cursor: pointer;
}

#profileSettingAvatarImage {
  display: none;
}

.first-name-inpt,
.second-name-inpt,
.last-name-inpt,
.email-inpt,
.username-inpt,
.password-inpt,
.password-confirmation-inpt {
  width: 96%;
  margin-left: 2%;
}

.cancel-profile-btn {
  margin-left: 28.5%;
}

.save-profile-btn {
  margin-left: 2%;
}

.cancel-profile-btn,
.save-profile-btn {
  width: auto;
  font-size: 12px;
  color: white;
  border-radius: 0px;
  background-color: #656F7A;
  border: none;
  transition: all 100ms linear;
  transition-delay: .1s;
  float: right;
  margin-right: 6px;
}

.save-profile-btn:hover {
  background-color: #44484c;
}

.cancel-profile-btn:hover {
  background-color: #44484c;
}

.profile-settings-actions {
  width: 100%;
}

.additional-settings {
  position: relative;
  left: 2%;
  color: #ffffff;
  text-decoration: underline;
}

.additional-settings:hover {
  cursor: pointer;
}